body{
    background-color:#FFBBFF;
    text-align: center;
}
h1{
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
    color: transparent;
    font-family: "Russo One", sans-serif;
    text-transform: uppercase;
    font-size: 3em;
    transform: translatey(25px);
    background: linear-gradient(
      cornflowerblue 30%,
      white,
      darkmagenta 60%,
      cornflowerblue 100%
    );
    background-size: contain;
    -webkit-background-clip: text;
    -webkit-text-stroke: 1px silver;
    filter: drop-shadow(5px 5px 1px black) drop-shadow(1px 1px 1px magenta);
    animation: bg-shift 0.5s ease-in-out infinite alternate;
  }

  @keyframes move {
    to {
      background-position-y: 2000px;
    }
  }
  @keyframes bg-shift {
    0% {
      background-position: 0 -25px;
    }
    100% {
      background-position: 0 25px;
    }
  }
  
  

.quadrado{
    text-align: center;
    width: 50px;
    background-color: MediumPurple;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: MediumPurple;
    box-shadow: inset 0 0 0.3em black;
}
.jogador, .vencedor{
    font-size: 30px;
    margin-top: 10px;
}

button{
    margin-top: 18px;
    width: 140px;
    height: 45px;
      background: linear-gradient(
      darkmagenta 10%,
      cornflowerblue 100%
    );
    border: 1px solid darkmagenta;
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
    text-shadow:none;
    cursor: pointer;
    font-size: 16px;
    color: white;

}
@media only screen and (max-width: 480px){
  body{
    background-color:#FFBBFF;
    text-align: center;
  }
  .quadrado{
    text-align: center;
    width: 50px;
    background-color: MediumPurple;
    display: inline-block;
    padding: 20px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: MediumPurple;
    box-shadow: inset 0 0 0.3em black;
  }
}
